@{
    ViewBag.Title = "CreateOrder";
}

@using Taxi.Models
@using SelectListItem = System.Web.WebPages.Html.SelectListItem
@model CreateOrderModel

<!-- Latest compiled and minified CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!-- Optional theme -->
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

<!-- Latest compiled and minified JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
<style>
    #liniya {
        width: 150px;
        height: 50px;
        float: left;
        margin-left: 15px;
    }
</style>

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Datepicker - Animations</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({showAnim:"slideDown"});
        });
    </script>
</head>
<body>
    <h2>CreateOrder</h2>
    <form method="POST" action="">
        <fieldset>
            <div>
                <div style=" width: 100%; clear: both;">
                    <div id="liniya">Enter user</div>
                    <div id="liniya">@Html.DropDownListFor(list => list.Customers, new SelectList(Model.Customers, "Id"))</div>
                </div>
                <div style=" width: 100%; clear: both;">
                    <div id="liniya">Select automobile</div>
                    <div id="liniya">
                        @Html.DropDownListFor(list => list.IdSelectAutomobile, new SelectList(Model.Automobiles, "Id"))
                    </div>
                </div>
                <div style=" width: 100%; clear: both;">
                    <div id="liniya">Select date</div>
                    <div id="liniya"><input type="text" id="datepicker" size="30"></div>
                </div>
                <div style="width: 100%; clear: both;">
                    <input style="margin-left: 180px" type="submit" value="Checkout" />
                </div>
            </div>
        </fieldset>
    </form>
</body>
</html>